.App {
  text-align: center;
}

.search{
  
  text-align: center;
  width: 350px;
  margin-left: 350px;
  
  
}
.button{
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 3%;
  padding-bottom: 3%;
  
}
.cities-card{
  display: flex;
  justify-content: space-between;
  padding-left: 14%;
  padding-right: 13%;
  padding-bottom: 3%;
  padding-top: 2%;
}
.detail-card{
  display: flex;
  justify-content: space-between;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 3%;
  padding-top: 1%;
}
.h2{
  margin-left: 235px;
  padding-top: 2%;
  color: #E07A5F  ;
}
.text{
  padding-top: 3%;
  text-align: center;
  color: #E07A5F  ;
 
}
.label{
  display: flex;
  justify-content: space-between;
  margin-left: 260px;
  margin-right: 590px;
  color: #E07A5F  ;
}
.search-div{
  padding-top: 1%;
  padding-bottom: 2%;
  background: #E07A5F;
  
box-shadow: 0px 4px 22px rgba(224, 122, 95, 0.7);
border-radius: 10px;

}
.home{
  text-align: center;
}
.footer-div{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:center;
  background: #E07A5F;
  box-shadow: 0px 4px 22px rgba(224, 122, 95, 0.7);
border-radius: 10px;

color: #ffff;

}
.img{
  display: flex;
 justify-content:space-between;
 padding-left: 40%;

}

.img-deatil{
  padding-top: 7%;
  padding-left: 10%;
}

.img-hourly{
  padding-top: 5%;
  padding-left: 12%;
}